@import url("https://fonts.googleapis.com/css?family=Barlow");

body {
  font-family: "Barlow", sans-serif;
}

/* button {
  margin-top: 15px !important;
  margin-right: 15px !important;
} */

.recipes {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.recipe {
  background-color: lightgray;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.card {
  height: 200px;
  width: 200px;
}

.cardImg {
  height: auto;
  width: 200px;
}

/* a {
  margin-left: 15px;
} */
